<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


<servlet>
<servlet-name>UploadFileToStorage</servlet-name>
<servlet-class>com.ecore.bruno.cloud.gcp.storage.UploadImageToStorage</servlet-class>
<multipart-config>
  <max-file-size>10000000</max-file-size>
  <max-request-size>10000000</max-request-size>
  <file-size-threshold>0</file-size-threshold>
</multipart-config>
</servlet>
  <!-- Mapeamento do servlet para o URL /upload -->
  <servlet-mapping>
    <servlet-name>UploadFileToStorage</servlet-name>
    <url-pattern>/uploadFileToStorage</url-pattern>
  </servlet-mapping>

</web-app>